* {
	margin: 0;
	padding: 0;
}

.container {
	margin: 30px auto;
	width: 90%;
}

.menu,
.menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu {
	height: 58px;
}

.menu li {
	background: #333;
	border-bottom: 2px solid #222;
	min-width: 160px;
}

.menu > li {
	display: block;
	float: left;
	position: relative;
}

.menu a {
	border-left: 3px solid rgba(0, 0, 0, 0);
	color: #777;
	display: block;
	font-size: 18px;
	line-height: 54px;
	padding: 0 25px;
	text-decoration: none;
}

.menu li:hover {
	background-color: #111;
	border-bottom: 2px solid #222;
}

.menu li:hover > a {
	border-left: 3px solid coral;
	color: coral;
}

.submenu {
	left: 0;
	max-height: 0;
	position: absolute;
	top: 100%;
	z-index: 0;
	perspective: 400px;
}

.submenu li {
	opacity: 0;
	transform: rotateY(90deg);
	transition: opacity .4s, transform .5s;
}

.menu .submenu li:hover a {
	border-left: 3px solid #eee;
	color: #eee;
}

.menu > li:hover .submenu,
.menu > li:focus .submenu {
	max-height: 2000px;
	z-index: 10;
}

.menu > li:hover .submenu li,
.menu > li:focus .submenu li {
	opacity: 1;
	transform: none;
}

.menu li:hover .submenu li:nth-child(1) {
	transition-delay: 0s;
}

.menu li:hover .submenu li:nth-child(2) {
	transition-delay: 50ms;
}

.menu li:hover .submenu li:nth-child(3) {
	transition-delay: 100ms;
}

.menu li:hover .submenu li:nth-child(4) {
	transition-delay: 150ms;
}

.menu li:hover .submenu li:nth-child(5) {
	transition-delay: 200ms;
}

.menu li:hover .submenu li:nth-child(6) {
	transition-delay: 250ms;
}

.menu li:hover .submenu li:nth-child(7) {
	transition-delay: 300ms;
}

.menu li:hover .submenu li:nth-child(8) {
	transition-delay: 350ms;
}

.submenu li:nth-child(1) {
	transition-delay: 350ms;
}

.submenu li:nth-child(2) {
	transition-delay: 300ms;
}

.submenu li:nth-child(3) {
	transition-delay: 250ms;
}

.submenu li:nth-child(4) {
	transition-delay: 200ms;
}

.submenu li:nth-child(5) {
	transition-delay: 150ms;
}

.submenu li:nth-child(6) {
	transition-delay: 100ms;
}

.submenu li:nth-child(7) {
	transition-delay: 50ms;
}

.submenu li:nth-child(8) {
	transition-delay: 0s;
}